<% require 'rack' %>
<% require 'happo' %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= Happo::Utils.page_title(diff_images, new_images) %></title>

    <link rel="shortcut icon" href="<%= Happo::Utils.favicon_as_base64 %>" />

    <style>
      <%= Happo::Utils.css_styles %>
    </style>
  </head>

  <body>
    <header class="header">
      <h1 class="header_title">
        <%= Happo::Utils.page_title(diff_images, new_images) %>
      </h1>
      <div class="header__time">Generated: <%= Time.now %></div>
    </header>

    <main class="main">
      <% if diff_images.count > 0%>
        <h2 id="diffs">
          <a href="#diffs">
            Diffs (<%= diff_images.count %>)
          </a>
        </h2>

        <% diff_images.each do |image| %>
          <h3 id="<%= Happo::Utils.image_slug(image) %>">
            <a href="#<%= Happo::Utils.image_slug(image) %>">
              <%= Rack::Utils.escape_html(image[:description]) %> @ <%= image[:viewport] %>
            </a>
          </h3>

          <img src="<%= image[:url] %>">
        <% end %>
      <% end %>

      <% if new_images.count > 0%>
        <h2 id="new">
          <a href="#new">
            New examples (<%= new_images.count %>)
          </a>
        </h2>

        <% new_images.each do |image| %>
          <h3 id="<%= Happo::Utils.image_slug(image) %>">
            <a href="#<%= Happo::Utils.image_slug(image) %>">
              <%= Rack::Utils.escape_html(image[:description]) %> @ <%= image[:viewport] %>
            </a>
          </h3>

          <img src="<%= image[:url] %>">
        <% end %>
      <% end %>
    </main>
  </body>
</html>
