<% require 'rack' %>
<% require 'happo' %>
<!DOCTYPE html>
<html>
  <head>
    <title>Happo diffs</title>

    <link rel="shortcut icon" href="<%= Happo::Utils.favicon_as_base64 %>" />

    <style>
      <%= Happo::Utils.css_styles %>
    </style>
  </head>

  <body>
    <header class="header">
      <h1 class="header_title">Happo diffs</h1>
      <div class="header__time">Generated: <%= Time.now %></div>
    </header>

    <main class="main">
      <% if diff_images.count > 0%>
        <h2>Diffs (<%= diff_images.count %>)</h2>
        <% diff_images.each do |diff| %>
          <h3>
            <%= Rack::Utils.escape_html(diff[:description]) %> @ <%= diff[:viewport] %>
          </h3>

          <img src="<%= diff[:url] %>">
        <% end %>
      <% end %>

      <% if new_images.count > 0%>
        <h2>New examples (<%= new_images.count %>)</h2>
        <% new_images.each do |image| %>
          <h3>
            <%= Rack::Utils.escape_html(image[:description]) %> @ <%= image[:viewport] %>
          </h3>

          <img src="<%= image[:url] %>">
        <% end %>
      <% end %>
    </main>
  </body>
</html>
