<% require 'rack' %>
<% require 'happo' %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= Happo::Utils.page_title(diff_images, new_images) %></title>

    <link rel="shortcut icon" href="<%= Happo::Utils.favicon_as_base64 %>" />

    <style>
      <%= Happo::Utils.css_styles %>
    </style>

    <script src="https://npmcdn.com/react@15.3.1/dist/react.min.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>

    <script type="text/babel">
      <%= Happo::Utils.jsx_code %>
    </script>
  </head>

  <body>
    <script type="text/babel">
      ReactDOM.render(
        <HappoDiffs
          newImages={<%= new_images.to_json %>}
          diffImages={<%= diff_images.to_json %>}
          pageTitle={<%= Happo::Utils.page_title(diff_images, new_images).to_json %>}
          generatedAt={<%= Time.now.to_s.to_json %>}
        />,
        document.body
      );
    </script>
  </body>
</html>
