<!DOCTYPE html>
<html>
  <head>
    <title>Happo Review Tool</title>
    <link rel="stylesheet" href="/happo-styles.css"></link>
  </head>
  <body>
    <h1>Happo Review Tool</h1>
    <h2>DIFFS</h2>
    <% @snapshots[:diffs].each do |diff| %>
      <h3>
        <%= h diff[:description] %> @ <%= diff[:viewport] %>
      </h3>
      <p><img src="/resource?file=<%= ERB::Util.url_encode(diff[:file]) %>"></p>
    <% end %>

    <hr>

    <h2>PREVIOUS</h2>
    <% @snapshots[:previous_images].each do |previous_image| %>
      <h3>
        <%= h previous_image[:description] %> @ <%= previous_image[:viewport] %>
      </h3>
      <p><img src="/resource?file=<%= ERB::Util.url_encode(previous_image[:file]) %>"></p>
    <% end %>
  </body>
</html>
